.classCount {
   margin-left: 130px;
   margin-top: 50px;
   padding-top: 50px;
   width: 400px;
   height: 300px;
   border: 5px solid blueviolet;
   border-radius: 15px;
   font-size: 24px;
}
.title {
    padding-bottom: 30px;
}
button {
    width: 100px;
    height: 50px;
    font-size: 24px;
    border: 5px solid blueviolet;
    border-radius: 15px;
    margin: 20px;
    background-color: white;
}
.buttonInc {
    border: 2px solid blueviolet;
    border-radius: 10px;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 80px;
}

.disable {
    color: red;
}
.opacity {
    opacity: 0.5;
}
.error {
    color: red;
}
.count {
    color: black;
}